html {
    width: 100%;
    min-height: 100%;
    display: flex;
}

body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

main.home {
    flex-grow: 1;
    margin: 0px;
    background: linear-gradient(rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.65) 59%), url(/images/IMG_4726.jpg) center center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

main.home h1 {
    margin: auto;
    margin-bottom: 0px;
    font-size: 3rem;
}

main.home p {
    margin: auto;
    margin-top: 0px;
}

.o-header {
    width: 100%;
    margin: 0;
}

.o-nav {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    margin: 0 auto;
}

.o-nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.o-nav__item {
    width: 100%;
    margin-right: 1rem;
}

.o-nav__item:last-child {
    margin-right: 0;
}

.o-nav__link {
    text-decoration: none;
    padding: 0.75rem 0;
    border-radius: 4px;
    text-align: center;
    display: block;
    color: black;
    transition: 0.2s ease background-color, 0.2s ease color;
}

.o-nav__link:hover, .o-nav__link--active {
    background-color: black;
    color: #fff;
}

.o-main {
    width: 95%;
    max-width: 700px;
    padding: 1rem;
    margin: auto;
}

.o-footer {
    text-align: center;
    /* border-top: 1px solid #ddd; */
    padding: 1rem;
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

.c-bloglist__item {
    margin-bottom: 2rem;
}

.c-bloglist__metas {
    font-size: 0.8rem;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.c-bloglist__heading {
    font-weight: 700;
}

h2.c-bloglist__heading {
    font-size: 2rem;
}

.c-bloglist__headinglink {
    color: #000;
}

.c-bloglist__summary {
    margin-bottom: 0.5rem;
}

.c-bloglist__link {
    color: #000;
}

.text-center {
    text-align: center;
}