{{ define "main" }}
<main class="o-main">
    <h1>Blog</h1>
    <div class="c-bloglist">
        {{ $pages := where .Site.RegularPages "Type" "blog" }}
        {{ range $pages.ByDate.Reverse }}
        <div class="c-bloglist__item">
            <h2 class="c-bloglist__heading">
                <a href="{{ .RelPermalink }}" class="c-bloglist__headinglink">{{ .Title }}</a>
            </h2>
            <div class="c-bloglist__metas">
                {{ .Params.author }} &bull; {{ .PublishDate.Format "2. 1. 2006" }}
            </div>
            <div class="c-bloglist__summary">
                {{ .Summary }}
            </div>
            <a href="{{ .RelPermalink }}" class="c-bloglist__link">Číst článek →</a>
        </div>
        {{ end }}
    </div>
</main>
{{ end }}