html {
  width: 100%;
  min-height: 100%;
  display: flex;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body.dark {
  background-color: #000;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5rem;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  font-size: 1.25rem;
}

p a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  color: #000;
}

p a:visited,
p a:active,
p a:hover {
  color: #777 !important;
  background-color: transparent;
  border-bottom: 2px solid #777 !important;
  text-decoration: none;
}

.dark p a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

main.home,
main.notfound {
  flex-grow: 1;
  margin: 0px;
  background: linear-gradient(rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.65) 59%), url(/images/IMG_4726.webp) center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
}

main.home h1, main.notfound h1 {
  margin: auto;
  margin-bottom: 0px;
  font-size: 4.5rem;
  text-shadow: 5px 5px 16px #000;
}

@media only screen and (max-width: 600px) {
  main.home p, main.notfound p {
      max-width: 85%;
  }
}

main.home p, main.notfound p {
  margin: auto;
  margin-top: 0px;
  max-width: 75%;
  text-shadow: 2px 2px 5px #000;
}

main.contact .links {
  margin: 1rem auto;
  text-shadow: 1px 1px 4px #000;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
}

main.contact .links a,
main.contat .links span {
  color: #fff;
  margin-right: .5rem;
}

main.contact .links span:last-child {
  margin-right: 0;
}

main.notfound {
  background: linear-gradient(rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, 0.65) 59%), url(/images/erik-mclean-bGWVhFY1gH0-unsplash.jpg) center center;
}

main.notfound a {
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.o-header {
  width: 100%;
  margin: 0;
}

.o-nav {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .o-nav {
    padding: .25rem;
  }

  .o-nav__list {
    justify-content: flex-start;
  }

  .o-nav__item {
    width: initial;
  }
}

.o-nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.o-nav__item {
  width: 100%;
  margin-right: 1rem;
}

.o-nav__item:last-child {
  margin-right: 0;
}

.o-nav__item .active {
  background-color: black;
  color: #fff;
}

.dark .o-nav__item .active {
  background-color: #000;
  color: #000;
}

.o-nav__link {
  text-decoration: none;
  padding: 0.75rem 0;
  border-radius: 4px;
  text-align: center;
  display: block;
  color: black;
  transition: 0.2s ease background-color, 0.2s ease color;
}

.dark .o-nav__link {
  color: #fff;
}

.o-nav__link:hover, .o-nav__link--active {
  background-color: black;
  color: #fff;
}

.dark .o-nav__link:hover,
.dark .o-nav__link--active {
  background-color: #fff;
  color: #000;
}

.o-main {
  width: 95%;
  max-width: 700px;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}

.o-footer {
  text-align: center;
  padding: 1rem;
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
}

.c-bloglist__item {
  margin-bottom: 2rem;
}

.c-bloglist__metas {
  font-size: 0.8rem;
  font-weight: 600;
  color: #777;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.c-bloglist__header {
  margin: 0 0 2rem 0;
}

.c-bloglist__header h1 {
  margin: auto;
}

.c-bloglist__heading {
  font-weight: 700;
}

h2.c-bloglist__heading {
  font-size: 2rem;
}

.c-bloglist__headinglink {
  color: #000;
}

.dark .c-bloglist__headinglink {
  color: #fff;
}

.c-bloglist__summary {
  margin-bottom: 0.5rem;
}

.c-bloglist__link {
  color: #000;
}

.dark .c-bloglist__link {
  color: #fff;
}

.c-blogpost__metas {
  font-size: 0.8rem;
  font-weight: 600;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.c-blogpost__heading {
  font-weight: 700;
}

.c-blogpost__heading h1 {
  margin: auto;
}

.text-center {
  text-align: center;
}

.language-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: initial;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.language-nav .o-nav__link {
  padding: .75rem .5rem;
  color: #777;
}

.js-toggle-wrapper {
  display: table;
  margin: auto;
}

.js-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.js-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: hsl(222, 14%, 7%);
  transition: all 0.2s ease;
}

.js-toggle-track-check {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle-track-x {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-x {
  opacity: 0;
}

.js-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translateX(0);
}

.js-toggle--checked .js-toggle-thumb {
  transform: translateX(26px);
  border-color: #19ab27;
}

.js-toggle--focus .js-toggle-thumb {
  box-shadow: 0px 0px 2px 3px rgb(125, 167, 196);
}

.js-toggle:active .js-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(125, 226, 234);
}