<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if eq .Section "song-book" }}
    <link rel="manifest" href="/song-book.webmanifest">
    {{ else }}
    <link rel="manifest" href="/site.webmanifest">
    {{ end }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{ if .Description }}
    <meta name="description" content="{{ .Description }}">
    {{ end }}
    {{ if .IsHome }}
    <meta name="description" content="{{ i18n "homeDescription" }}">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:image" content="{{ "/images/IMG_4726.webp" | absURL }}" />
    {{ else }}
    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
    {{ template "_internal/opengraph.html" . }}
    {{ end }}

    {{ $style := resources.Get "css/style.css" }}
    {{ $style = $style | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="/fonts/fontawesome/css/all.min.css">
</head>