<header class="o-header">
    <nav class="o-nav">
        <ul class="o-nav__list">
            <li class="o-nav__item"><a href="/" class="o-nav__link">Domů</a>
            </li>
            <li class="o-nav__item"><a href="/o-nas/" class="o-nav__link">O nás</a>
            </li>
            <li class="o-nav__item"><a href="/blog/" class="o-nav__link">Blog</a>
            </li>
            <li class="o-nav__item"><a href="/kontakt/" class="o-nav__link">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>